#main-container{
    background-image: url("/img/bg\ 5.png");
}

.checkout-title{
    font-family: Wendy One;
    font-size: 12rem;
    color: #642C99;
}
.checkout-subt{
    font-family: Lato;
    font-size: 2rem;
    color: #642C99;
}
.checkout-container{
    display: flex;
    justify-content: space-around;
}
.content{
    padding-top: 0;
}
.chek-left{
    padding-top: 10rem;
    box-sizing: border-box;
}
.check-item-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}
.check-item-img img{
    width: 100%;
}
.check-item-img{
    width: 15%;
}
.check-item-name{
    font-family: Wendy One;
    font-size: 3rem;
    font-weight: 400;
    color: #642C99;
    width: 25%;
    text-align: center;
}
.check-item-acc{
    font-size: 2.6rem;
    border: 2px solid #642C99;
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #642C99 ;
    font-weight: bold;
    font-family: Lato;
    display: flex;
    justify-content: space-around;
}
.check-item-price{
    font-family: Wendy One;
    font-size: 3.5rem;
    color: #642C99 ;
}
.check-items{
    border-bottom: 3px solid #642C99;
    padding-bottom: 10rem;
    box-sizing: border-box;
}
.cart-block{
    min-height: 100rem;
}
.empty-cart{
    color: #642C99;
    font-family: Wendy One;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 3rem;
}
.up{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 3rem;
}
.total-price{
    flex-basis: 15%;
    font-family: Wendy One;
    font-size: 3.5rem;
    color: #642C99 ;
}
.total-title{
    font-size: 2.6rem;
    color: #642C99 ;
    font-weight: bold;
    font-family: Lato;
    width: 23%;
}
.down{
    display: flex;
    justify-content: end;
}
.down button{
    flex-basis: 32%;
    color: #FBFAC9;
    font-family: Lato;
    background-color: #642C99;
    border: none;
    border-radius: 0.5rem;
    height: 5rem;
    font-size: 1.9rem;
    margin: 2rem 6.5rem 0 0;
    transition: background-color 0.5s ease-in-out;
}
.footer{
    margin-top: 35rem;
}
@media (max-width: 1200px){
    .footer a{
        color: #642C99;
    }
    .mail-up{
        color: #642C99;
    }
    .footer .left{
        color: #642C99;
    }
    .footer [type="submit"]{
        background-color: #642C99;
        color: #FBFAC9;
    }
}
@media (max-width:768px){
    .checkout-container{
        display: block;
    }
    .checkout-title{
        font-size: 7rem;
    }
    .chek-left{
        width: 80%;
    }
    .check-right{
        width: 100%;
        display: flex;
        justify-content: end;
        margin-left: 4rem;
    }
    .check-right img{
        content: url("/img/image\ 82.png");
        width: 70%;
    }
    .check-item-container{
        flex-wrap: wrap;
        align-items: center;
    }
    .check-item-name{
        width: 60%;
        text-align: start;
        border-bottom: 2px solid #642C99;
        padding: 1rem 0 1rem 0;
    }
    .check-item-img{
        width: 20%;
    }
    .check-item-acc{
        margin-left: 12rem;
    }
    .up{
        justify-content: space-between;
    }
    .total-title{
        width: 60%;
    }
    .down{
        display: block;
    }
    .down .button{
        width: 100%;
        margin: 0;
        margin-top: 2rem;
    }
    .footer{
        margin-top: 25rem;
    }
}