#main-container{
    background-image: url("/img/333333321.png");
    background-repeat: repeat-x;
}
.content{
    padding: 8rem 3rem 2rem 3rem;
    box-sizing: border-box;
}
.main{
    box-sizing: border-box;
}
.mobile-circle{
    display: none;
}
.cake-up .text-content{
    width: 60%;
    margin: 0 auto;
}
.text-content div{
    text-align: center;
}
.button{
    margin: 0 auto;
}
.img-content{
    margin-top: 3rem;
    display: flex;
    justify-content:space-between;
}
.img-left{
    margin-top: -16rem;
}
.img-right{
    margin-top: -5rem;
}
.cake-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(25,1fr);
    grid-template-rows: repeat(20,5rem);
    background-repeat: no-repeat;
    background-image: url("/img/image\ 32.png");
    background-position: center;
    background-size: 60%;
    
}
.cake-wrapper img{
    width: 100%;
    margin: 0 auto;
}
.upper-img{
    grid-column: 9/18;
    grid-row: 3/7;
}
.middle-img{
    grid-column: 10/17;
    grid-row: 8/12;
}
.down-img{
    grid-column: 10/16;
    grid-row: 13/17;
}
.side-middle-img{
    grid-column: 1/4;
    grid-row: 9/11;
}
.side-middle-text{
    font-family: Lato;
    font-size: 1.8rem;
    font-weight: 700;
    color: #642C99;
    grid-column: 1/9;
    grid-row: 12/12;
}
.side-down-img{
    grid-column: 7/10;
    grid-row: 15/17;
}
.side-down-text{
    font-family: Lato;
    font-size: 1.8rem;
    color: #642C99;
    font-weight: 700;
    grid-column: 7/17;
    grid-row: 18/20;
}
.side-right-img{
    grid-column: 18/21;
    grid-row: 11/14;
}
.side-right-text{
    font-family: Lato;
    font-size: 1.8rem;
    color: #642C99;
    font-weight: 700;
    grid-column: 18/25;
    grid-row: 14/15;
}
.roasted{
    width: 70%;
    margin: 0 auto;
    margin-top: 10rem;
}
.footer{
    margin-top: 50rem;
}
@media (max-width: 1200px){
    .mobile-circle{
        display: none;
    }
    #main-container .content{
        padding: 0 4rem 0 4rem;
        background-image:url("/img/333333321.png");
    }
    .footer{
        margin-top: 60rem;
    }
    .img2{
        display: block;
    }
}
@media (max-width:768px) {
    #main-container .content{
        background-image: none;
    }
    #content{
        background-color: #FBFAC9!important
        
    }
   .title-one{
    font-size: 7rem;
   }
   .img2{
    display: block;
   }
   .cake-wrapper{
    display: block;
    background-image: none;
    }
    .ttt{
        width: 30%;
        margin: 0 auto;
    }
   .cake-wrapper .text{
    text-align: center;
    padding: 2rem 2rem 0 2rem;
    box-sizing: border-box;
   }
   .footer{
    margin-top: 20rem;
   }
   .text-content > .button{
    width: 75%;
   }
   .upper-img, .middle-img, .down-img{
    display: none;
   }
   .mobile-circle{
    margin-top: 10rem;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(40,1rem);
    grid-template-rows: repeat(20,2rem);
    background-repeat: no-repeat;
    background-image: url("/img/image\ 32.png");
    background-position: center;
    background-size: 70%;  
    }
    .m-upper-img{
        grid-column: 11/22;
        grid-row: 1/5;
    }
    .m-middle-img{
        grid-column: 14/24;
        grid-row: 7/12;
    }
    .m-down-img{
        grid-column: 14/24;
        grid-row: 14/19;
    }
    .img-left{
        margin-top: 5rem;
    }
    .img-right{
        margin-top: 13rem;
    }
    .img-right, .img-left{
        flex-basis: 30%;
    }
    .img-content img{
        width: 100%;
    }
}