@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&family=Wendy+One&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Wendy+One&family=Work+Sans&display=swap');
:root{
    font-size: 10px;
}
body{
    margin: 0 auto;
    font-size: 2rem;
}
.content a{
    text-decoration: none;
    color: #FDEFD1;
}
.main-container{
    background-image:url("../img/bg\ 1.png");
    width: 100%;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.header{ 
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
}
.header::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #642C99;
    z-index: 2;
}
 .header-body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    padding: 0 2rem;
}
.header .container{
    width: 1200px;
    margin: 0 auto;
}
.header-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 3rem;
}
.header-list{
    display: flex;
    z-index: 2;
    position: relative;
    margin: 0;
    padding: 0;
}
.header-list a{
    color:#fff;
    text-decoration: none;
    font-size: 2.5rem;
}
.header-logo{
    height: 7rem;
    width: 7rem;
    z-index: 3;
}
.header-logo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.main{
    margin-top: 10rem;
}

.header-list a:hover{
    color: #d1cf7e;
}
.header-list svg:hover{
    fill: #d1cf7e;
    stroke: #d1cf7e ;
}

.header-list .cart-icon{
    width: 5rem;
    height: 5rem;
}
.header-list svg{
    width: 100%;
    height: 100%;
}
.margin-li{
    margin-right: 10rem;
} 
.header-burger{
    display: none;
}  
.cart-li{
    position: relative;
}
.cart-amount{
    position: absolute;
    background-color: #d1cf7e;
    width: 5rem;
    height: 3rem;
    color: #642C99;
    font-size: 2rem;
    font-family: Lato;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    top: -1rem;
    left: 3rem;
}
.img-content{
    margin-top: 3rem;
}
.cake-one, .cake-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cake-one, .cake-two div{
    flex-basis: 50%;
}
.img-content{
    display: flex;
    flex-wrap: wrap;
}
.title-one{
    color: #642C99;
    font-family: Wendy One;
    font-size: 12rem;
}
.text-content > .subtitle{
    font-family: Lato;
    color: #642C99;
    font-size: 2rem;
    margin: 4rem 0;
}
.text-content > .button{
    background-color: #642C99;
    color: #FBFAC9;
    font-family: Lato;
    height: 5rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.9rem;
    transition: background-color 0.3s ease-in;
}
.button:hover{
    background-color:#b87ab6;
}
.title-two{
    color: #642C99;
    font-family: Wendy One;
    font-size: 9rem;
}
.two-cakes img{
    width: 100%;
}
.two-cakes div{
    width: 80%;
    margin-top: 3rem;
}
.cake-two{
    margin-top: 15rem;
}
.two-cakes{
    position: relative;
    padding-top: 25rem;
    box-sizing: border-box;
}

.img4{
    position: absolute;
    width: 100%;
    bottom: 60%;
    right: 10%;
    animation: divide 1s ease-in;
}

/* .itemAll{
    background-color: #d1cf7e;
    animation: itemShow 3s ease-in;
} */
/*АНІМАЦІЯ*/
@keyframes divide {
    from{
        bottom: 40%;
        right: 10%;
    }
    to{ 
        bottom: 60%;
        right: 10%;
    }
}
/* @keyframes itemShow {
    from{
        background-color: #ac1111;
    }
    to{
        background-color: #d1cf7e;
    }
} */

.catalog-container{
    width: 100%;
    margin-top: 50rem;
}
.catalog-container .title{
    color: #642C99;
    font-family: Wendy One;
    font-size: 9rem;
    width: 57%;
}
.items-constainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.item{
    width: 26%;
    text-align: center;
    margin: 10rem 3rem 0 3rem;
}
.name{
    color: #642C99;
    font-family: Wendy One;
    font-size: 3.2rem;
}
.price{
    color: #642C99;
    font-family: Wendy One;
    font-size: 2.5rem;
}
.ingredients{
    font-family: Lato;
    color: #642C99;
    font-size: 1.8rem;
    height: 6rem;
}
.cart-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-item-number{
    font-size: 2.6rem;
    border: 2px solid #642C99;
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #642C99 ;
    font-weight: bold;
    font-family: Lato;
    display: flex;
    justify-content: space-around;
}
.cart{
    font-family: Lato;
    color: #FBFAC9;
    font-size: 1.6rem;
    background-color: #642C99;
    width: 18rem;
    height: 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:background-color 0.5s ease-out ;
}
.cart:hover{
    background-color:#b87ab6;
}

.item>div{
    margin-top: 2rem;
}
.down-cake{
    margin-top: 50rem;
    height: 110rem;
}
.down-cake .text-content{
    padding-bottom: 40rem;
    box-sizing: border-box;
}
.footer{
    padding: 0 7rem ;
    box-sizing: border-box;
}
.footer .container-up{
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
    box-sizing: border-box;
}
.left{
    color: #FDEFD1;
    font-family: Wendy One;
    font-size: 3rem;
    width: 15%;
}
.right{
    color: #FDEFD1;
    display: flex;
    justify-content:space-between;
    width: 85%;
}
.right ul{
    margin: 0;
    padding: 0;
}
.right li{
    list-style-type: none;
}
.right .center{
    margin: 2rem 0 2rem 0;
}
.right a{
    color: #FDEFD1;
    text-decoration: none;
}
.right .nav{
    width: 50%;
    padding-left: 10rem;
    box-sizing: border-box;
}
.mail{
    width: 70%;
}
.mail-up{
    margin-bottom: 2rem;
}
.mail [type="text"]{
    background-color: #642C99;
    border: 0.2rem solid #FDEFD1;
    border-radius: 5px;
    height: 3rem;
    width: 50%;
    padding-left: 3rem;
    color: aqua;
    font-size: 1.7rem;
}
.mail [type="submit"]{
    background-color: #FDEFD1;
    border: 0.2rem solid #FDEFD1;
    color: #642C99;
    border-radius: 5px;
    height: 3rem;
    width: 15%;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 3rem;
}
.mail ::placeholder{
    color: #FDEFD1;
}
.container-down{
    text-align: center;
    padding-bottom: 6rem;
    box-sizing: border-box;
}
.container-down ul{
    margin: 0;
    padding: 0;
}
.container-down li{
    list-style-type: none;
    display: inline-block;
    margin-left: 4rem;
}
.container-down a{
    color: #FDEFD1;
    text-decoration: none;
    font-size: 2rem;
}
/* Медіа запити */
@media (max-width: 1200px){
    .main-container .content{
        padding: 0 4rem 0 4rem;
        background-image:url("../img/bg\ 1.png");
    }
    /* якщо закоментувати то при оновленні екран наполовину білий */
    .img2{
        display: none;
    }
    .catalog-container{
        margin-top: 15rem;
    }
    .item{
        width: 40%;
        margin-top: 0;
    }
    .item div{
        margin-top: 1rem;  
    }
    .items-constainer{
        justify-content: space-evenly;
    }
    .cart-container{
        justify-content: center;
    }
    .cart-container div{
        margin: 2rem;
    }
    .down-cake{
        margin-top: 15rem;
    }
    .counter{
        margin: 0!important;
    }
    .two-cakes img{
        width: 70%;
    }
    .two-cakes div{
        margin: 0 auto;
    }
    .img4{
        position: absolute;
        width: 100%;
        bottom: 60%;
        right: 25%;
        animation: divide 1s ease-in;
    }
    @keyframes divide {
        from{
            bottom: 40%;
            right: 25%;
        }
        to{ 
            bottom: 60%;
            right: 25%;
        }
    }
    
  
}


@media (max-width:768px) {
    .main-container .content{
        background-image: none;
    }
    #content{
        background-color: #FBFAC9!important
        
    }
    body.lock{
        overflow: hidden;
    }

    .header .container{
        width: 100%;
    }
    :root{
        font-size: 1.5rem;
    }
    .header-body{
        height: 7rem;
    }
    .main{
        margin-top: 7rem;
    }
    .header-logo{
        height: 5rem;
        width: 5rem;
    }
    .header-burger{
        display: block;
        position: relative;
        width: 3rem;
        height: 2rem;
        z-index: 3;
    }
    .header-burger::before,
    .header-burger::after{
        content: "";
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 0.2rem;
        left: 0;
        transition: all 0.3s ease-in;
    }
    .header-burger span{
        position: absolute;
        width: 100%;
        background-color: #fff;
        top: 0.9rem;
        height: 0.2rem;
        left: 0;
        transition: all 0.3s ease-in;
    }
    .header-burger::before{
        top:0;
    }
    .header-burger::after{
        bottom: 0;
        height: 0.21rem;
    }
    .header-burger.active::before{
        transform: rotate(45deg);
        top:0.9rem
    }
    .header-burger.active::after{
        transform: rotate(-45deg);
        bottom:0.9rem;
    }
    .header-burger.active span{
        transform: scale(0);
    }
    .header-menu{
        position: fixed;
        top:-110%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #b87ab6;
        padding: 7rem 3rem;
        transition: all 0.4s ease-in;
        overflow: auto;
        box-sizing: border-box;

    }
    .header-menu.active{
        top: 0;
    }
    .header-list{
        display: block;
    }
    .header-list li{
        justify-content: flex-start;
        margin-top: 2rem;
        margin-left: 0;
    }
    .cake-one, .cake-two{
        display: block;
        padding: 5rem 3rem 0 3rem;
        box-sizing: border-box;
    }
    .title-one{
        font-size: 10rem;
    }
    .title-two{
        font-size: 6rem;
        margin-top: 7rem;
    }
    .counter{
        margin: 0!important;
    }
    .cake-one .img-content{
        justify-content: center;
    }
   .cake-one .img{
    flex-basis: 29%;
   }
   .two-cakes{
    display: block;
    margin: 0 auto;
   }
   .two-cakes img{
    width: 100%;
   }
   .two-cakes div{
    width: 60%;
    margin: 0 auto;
   }
   .catalog-container{
    margin-top: 5rem;
   }
   .catalog-container .title{
    font-size: 7rem;
    padding: 5rem 3rem 0 3rem;
    box-sizing: border-box;
    width: 100%;
   }
   .items-constainer{
    display: block;
   }
   .item{
    width: 70%;
    margin: 3rem auto;
   }
   .item .img{
    width: 40%;
    margin: 0 auto;
   }

   .item img{
    width: 100%;
   }
   #img4{
    width: 70%;
   }
    .img4{
    position: absolute;
    width: 100%;
    bottom: 50%;
    right: 15%;
    animation: divide 1s ease-in;
}
@keyframes divide {
    from{
        bottom: 30%;
        right: 15%;
    }
    to{ 
        bottom: 50%;
        right: 15%;
    }
}
.down-cake{
    display: block;
    margin-top: 5rem;
}
.down-cake .text-content{
    padding: 0;
}
.footer .container-up{
    display: block;
}
.left{
    color:#642C99;
    width: 100%;
}
.right{
    color:#642C99;
    display: block;
    width: 100%;
}
.right a{
    color:#642C99;
}
.right ul{
    margin-top: 3rem;
    margin-bottom: 0;
}
.right .nav{
    width: 100%;
    padding: 0;
}
.mail{
    width: 100%;
}
.mail-up{
    margin-top: 4rem;
}

.mail [type="submit"]{
    width: 100%;
    margin: 2rem 0 0 0;
    border: 2px solid #642C99;
    
}
.mail [type="text"] {
    width: 100%;
    box-sizing: border-box;
}

.mail-down input{
    width: 100%;
}

.container-down ul{
    margin: 0;
    padding: 0;
}
.container-down li{
    list-style-type: none;
    display: inline-block;
    margin-left: 4rem;
}
.container-down a{
    color:#642C99;
    margin-right: 3rem;
}
.container-down li{
    margin-top: 2rem;
}
}

